.chat-wrapper
    .chats-sidebar
      a.chat-profile(href=profileUrl)
        | !{UserPhoto}
        p.chat-profile__name #{user.first_name}
      label.chat-search
        .chat-search__icon
          include ../../imgs/icons/search.svg
        input.chat-search__input(type="text" name="search" placeholder="Поиск")
      .chat-add(data-modal="add-chat-modal")
        .chat-add__icon 
          include ../../imgs/icons/plus.svg
        span.chat-add__text Добавить новый чат
      .chats-list 
        | !{ChatsList}
    
    if ActiveChat
      | !{ActiveChat}
    else
      .chat 
        .chat-inactive 
          p.chat-inactive__text Выберите чат чтобы отправить сообщение
    | !{Modals}
