include ../photo-input/photo-input
include ../button/button

mixin form(title, isModal)
	form.form(class=isModal ? 'form_modal' : '' class=attributes.class id=attributes.id)
		if isModal 
			button.form__close
		p.form__title= title
		if block
			block 
		else
			p Пустая форма


mixin formImage(title, img = {}, errorText)
	+form(title, true).form-image(id=attributes.id class=attributes.class)
		+photoInput('Выбрать файл на компьютере', 'avatar', img.src, img.name).form-image__input
		+button('Поменять').form-image__btn
		span.form-image__error= errorText
